doctype html
html(lang='en')
  head
    title=title
    link(rel='stylesheet', href='/stylesheets/fullcalendar.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='js/jquery.min.js')
    script(src="https://cdn.firebase.com/js/client/2.3.2/firebase.js")
    script(src='/js/calendar/moment.min.js')
    script(src='/js/materialize/bin/materialize.min.js')
    script(src='/js/calendar/fullcalendar.min.js')
    script(src='/js/calendar.js')
  body
    nav
        div.nav-wrapper.green.accent-4
            a.brand-logo(href='/') Timetable
            ul.right.hide-on-med-and-down#nav-mobile
                li
                    a(href="/add") Add
                li
                    a(href="/calendar") Calendar
                li
                    a(href="/logout") Logout
    div.container
        h1 Calendar
        div#calendar
    footer.page-footer.white
        div.footer-copyright.green.accent-4
            div.container Made at WildHacks by #[a(target="_blank", href="https://twitter.com/ChristinaHKim") Christina Kim] and #[a(target="_blank", href="https://twitter.com/nicolelzhu") Nicole Zhu]