doctype html
html(lang='en')
  head
    title=title
    link(rel='stylesheet', href='/stylesheets/fullcalendar.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='js/jquery.min.js')
    script(src='js/calendar/moment.min.js')
    script(src='/js/materialize/bin/materialize.min.js')
    script(src='/js/calendar/fullcalendar.min.js')
    script(src='/js/script.js')
  body
    div.container
        h1 Calendar
        div#calendar