doctype html
html(lang="en")
  head
    title="Timetable"
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(src="https://cdn.firebase.com/js/client/2.3.2/firebase.js")
    script(src="/js/login.js")

  body
    h1 Timetable
    button#loginButton login
    form(action='/',method='post')
        input(type='submit', value='update')
    h2 #{test}